 .u-section-1 {
  background-image: linear-gradient(#8039a1, #3c2065);
}

.u-section-1 .u-sheet-1 {
  min-height: 1301px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

div.desc {
font-weight: bold;
font-size: 30px;
color: #7db2e7;
font-family: Arial, Helvetica, sans-serif;
}
div.desc1 {
padding: 15px;
text-align: left;
font-size: 18px;
color: #7db2e7;
font-family: Arial, Helvetica, sans-serif;
}
.button {
background-color: #478AC9;
color: white;
padding: 1em 2em;
text-align: center;
text-decoration: none;
font-size: 1em;
margin-left: 3.5em;
cursor: pointer;
}
.box{
display: flex;
flex-direction: row;
margin-top: 1em;
margin-bottom: 1em;
}
.rbox{
display: flex;
flex-direction: row-reverse;
margin-bottom: 1.5em;
}
.txtbox > div{
margin-right: 1em;
margin-left: 2em;
max-width:23em;
}
.butbox{
display:flex;
justify-content:center;
}
.responsive {
padding: 0 25px;
float: left;
width: 40%;
}
@media only screen and (max-width: 1500px) {
.responsive {
width: 49.99999%;
margin: 30px 15;
}
}
@media only screen and (max-width: 1500px) {
.responsive {
width: 60%;
}
}
