
.topnav {
  overflow: hidden;
  background-color: #FFF;
  border:0.1em;
  padding:0px;
  max-height:15vh;
}
.box_nav{
	display:flex;
  flex-direction:row-reverse;
  margin:0px;
}

.topnav .logo{
  padding-top: 0px;
}
.greeting{
	font-weight:bold;
	font-family:sans-serif;
  margin-right:1em;
  border-style: solid;
	border-width:0.1em;
    border-color:white;
    border-top: 0px;
    border-bottom : 0px;
  float: left;
  color: #000000;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a {
	border-style: solid;
	border-width:0.1em;
  border-color:white;
  border-top: 0px;
  border-bottom : 0px;
  float: left;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 20px 16px 0px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .logo a:hover {
 background-color: #000;
}

.topnav a:hover {
  background-color: #ddd;
  color: cyan;
}
.topnav a.active:hover {
  background-color: #8a2be2;
  color: cyan;
}
